//background image styles
.image {
	background-image: url('../../static/images/background/01.png');
}

.mainHeading {
  color: white;
  margin-bottom: 20px;
  font-size: 3.5rem;
}

.mainHeading + p {
  color: #fff;
}