.header__logo {
    float: left;
    font-weight: 700;
    padding: 6px 25px;
    margin-top: 3px;
}

.logoname {
    font-family: 'Sacramento', cursive;
}

@media screen and (max-width: 600px) {
    .header__logo {
        margin-top: 4px;
    }
  }